In [4]:
!pwd

/home/hassib12/code/hassib12/FoodSecurityForecaster/notebooks

In [2]:
import numpy as np
import pandas as pd

# Import y values

In [15]:
soybeans = pd.read_csv('../raw_data/Crop yield data/COUNTY_level_annual/USA_soybeans_preprocessed_2001-2022_relevant_states.csv')
#soybeans = soybeans[soybeans['Value'].isna() == False].drop(columns=['Commodity', 'Geo Level', 'Ag District Code', 'County','CV (%)', 'County ANSI', 'Zip Code', 'Ag District', 'Domain Category', 'Program', 'Week Ending','watershed_code', 'Domain',  'Watershed', 'Region', 'State ANSI', 'Data Item'])
soybeans= soybeans[soybeans['YEAR']>2000] 
soybeans = soybeans.drop(columns=['Unnamed: 0', 'Period'])
soybeans.head(24)

    YEAR     STATE  YIELD
1   2001  DELAWARE   39.0
2   2002  DELAWARE   25.0
3   2003  DELAWARE   36.0
4   2004  DELAWARE   42.5
5   2005  DELAWARE   26.0
6   2006  DELAWARE   31.5
7   2007  DELAWARE   26.0
8   2008  DELAWARE   27.5
9   2009  DELAWARE   42.0
10  2010  DELAWARE   32.0
11  2011  DELAWARE   39.5
12  2012  DELAWARE   42.5
13  2013  DELAWARE   40.5
14  2014  DELAWARE   47.5
15  2015  DELAWARE   40.0
16  2016  DELAWARE   41.5
17  2017  DELAWARE   51.0
18  2018  DELAWARE   41.5
19  2019  DELAWARE   47.0
20  2020  DELAWARE   49.0
21  2021  DELAWARE   51.0
22  2022  DELAWARE   46.0
24  2001   FLORIDA   29.0
25  2002   FLORIDA   33.0

In [8]:
#india_rice = india_rice.groupby(['STATE', 'YEAR']).mean().reset_index()


# soybeans = soybeans[ soybeans['Value'] > 0]
# soybeans = soybeans[ soybeans['Year'] >= 2000]
corn = corn.sort_values(by=['STATE', 'YEAR'], ascending=True, ignore_index=True)

# soybeans = soybeans [ soybeans['Period'] == 'YEAR'] 
corn.head(25)

    Unnamed: 0  YEAR     STATE COMMODITY  YIELD
0            2  2001  DELAWARE      CORN    146
1            3  2002  DELAWARE      CORN     84
2            4  2003  DELAWARE      CORN    123
3            5  2004  DELAWARE      CORN    152
4            6  2005  DELAWARE      CORN    143
5            7  2006  DELAWARE      CORN    145
6            8  2007  DELAWARE      CORN     99
7            9  2008  DELAWARE      CORN    125
8           10  2009  DELAWARE      CORN    145
9           11  2010  DELAWARE      CORN    114
10          12  2011  DELAWARE      CORN    130
11          13  2012  DELAWARE      CORN    135
12          14  2013  DELAWARE      CORN    166
13          15  2014  DELAWARE      CORN    200
14          16  2015  DELAWARE      CORN    192
15          17  2017  DELAWARE      CORN    189
16          18  2018  DELAWARE      CORN    145
17          19  2019  DELAWARE      CORN    161
18          20  2020  DELAWARE      CORN    160
19          21  2021  DELAWARE      CORN    184
20          22  2022  DELAWARE      CORN    172
21          24  2001   FLORIDA      CORN     87
22          25  2002   FLORIDA      CORN     96
23          26  2003   FLORIDA      CORN     82
24          27  2004   FLORIDA      CORN     90

In [16]:
soybeans.to_csv('../raw_data/Crop yield data/COUNTY_level_annual/USA_soybeans_preprocessed_2001-2022_relevant_states_new.csv')